@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@media (max-width: 600px) {
    .links-card {
        padding: 50px 30px;
    }

    .links-card h1 {
        font-size: 28px;
    }

    .bio {
        font-size: 20px;
    }

    .links a {
        font-size: 19px;
        padding: 18px;
    }
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.links-card .avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

body {
    background-color: rgb(201, 247, 158);
    font-family:"Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.links-card {
    background-color: rgb(218, 243, 137);
    padding: 40px 50px;
    border-radius: 16px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 12px 30px rgb(121, 158, 133);
}

.links-card h1 {
    margin: 12px 0 8px;
}

.bio {
    font-size: 18px;
    margin-bottom: 30px;
}

.links a {
    display: block;
    background-color: rgb(144, 178, 106);
    color: rgb(62, 70, 17);
    padding: 16px;
    margin: 14px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.2s ease;
}

.links a:hover {
    background-color: rgb(143, 210, 61);
}